<div class="row clients">
<% if @stylist.clients().any?() %>
<p class="title">Clients under stylist <%= @stylist.stylist_name() %></p>

<ul>
  <% @stylist.clients().each() do |client| %>
    <li><%= client.client_name() %> - <%= client.contact() %></li>
  <% end %>
</ul>
<% else %>
  <p>There are no clients yet!</p>
<% end %>
</div>


<form action="/clients/<%= @client.id() %>" method="post">
  <input type="hidden" name="_method" value="delete">

  <button type="submit">Delete Client</button>
</form>

<p class="edit"><a href="/stylists/<%= @stylist.id() %>/edit">Edit <%= @stylist.stylist_name() %> stylist</a></p>
